/* styles.css */

.container {
    text-align: center;
}

.title {
    font-size: 35px;
    margin-bottom: 2rem;
}

.imageContainer {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.memeImage {
    width: flex;
    height: flex;
    object-fit: cover;
    margin-bottom: 2rem;
}

.captionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.captionRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px; /* Spazio tra le righe di didascalie */
}

.captionButton {
    margin: 5px; /* Distanza tra i pulsanti delle didascalie */
    padding: 10px 20px; /* Padding per spaziatura interna */
    border-radius: 30px; /* Bordo rotondo */
    white-space: nowrap; /* Impedisce al testo di andare a capo */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transizione per il cambio colore */
}

.captionButton:hover {
    background-color: #f0f0f0; /* Cambia il colore di sfondo al passaggio del mouse */
    border-color: #ccc; /* Cambia il colore del bordo al passaggio del mouse */
}

.captionButton.active {
    background-color: #007bff; /* Colore di sfondo attivo */
    border-color: #007bff; /* Colore del bordo attivo */
    color: white; /* Colore del testo attivo */
}
