.smallImage {
    width: 50px; 
    height: auto;
    margin-bottom: 10px;
}

.selected-caption {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected-caption p {
    margin-left: 10px;
}